{% extends 'layout/_main.html' %}

{% block content %}
<div id="main" class="main">
  <section class="section">
    <div class="container">

      <div class="row">
        <div class="col-4 col--md-12">
          <div class="sidebar">
            <div class="sidebar__head">
              <img class="sidebar__image" src="img/img_profile.jpg" alt="profile avatar">
            </div>
            <div class="sidebar__body">
              <h2 class="headline--md sidebar__headline">lê trần tiến</h2>
              <div class="sidebar__block">
                <ul class="list">
                  <li class="list__item"><i class="fa fa-suitcase list__icon"></i>FrontEnd Developer</li>
                  <li class="list__item"><i class="fa fa-home list__icon"></i>London, UK</li>
                  <li class="list__item"><i class="fa fa-envelope list__icon"></i><a class="link--primary" href="mailto:trantiendev@gmail.com" target="_top">trantiendev@gmail.com</a></li>
                  <li class="list__item"><i class="fa fa-phone list__icon"></i><a class="link--primary" href="tel:0779 768 451" target="_top">0779 768 451 </a></li>
                </ul>
              </div>
              <div class="sidebar__block">
                <h2 class="sidebar__lead headline--md sidebar__headline">Skill</h2>
                <ul class="list">
                  <li class="list__item">- HTML/CSS (SCSS), Bootstrap, Spectre.</li>
                  <li class="list__item">- Javascript ES5 / ES6, Jquery, Vuejs.</li>
                  <li class="list__item">- Git / Github. <a class="link--primary" href="https://github.com/trantiendev" target="_blank">My github</a></li>
                  <li class="list__item">- Web dev tools: Grunt, Gulp.</li>
                  <li class="list__item">- Good at: teamwork, research.</li>
                  <li class="list__item">- English: reading, speaking.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-8 col--md-12">
          <div class="content">
            <h2 class="content__lead">WORKING EXPERIENCE</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
